In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
file_path = "files/In house exam data set (S).csv"
data = pd.read_csv(file_path)

In [6]:
data.head()

,date,Elapsed Days,Time,Temp.,pH,ORP,DO,Transp.,E-NH4-N,E-NO3-N,E-NO2-N,SS,BOD,C-BOD,N-BOD,T-N,NH4-N,NOx-N,NO3-N,NO2-N
0,16-Jul,2,9:20,22.0,7.9,114.0,8.4,14.2,18.0,0.0,0.0,8.0,66.0,40.0,26.0,21.0,17.0,0.0,0.0,0.0
1,20-Jul,6,9:30,26.0,7.9,51.0,7.1,38.0,NaN,NaN,NaN,3.0,54.0,11.0,43.0,32.0,29.0,0.0,0.0,0.0
2,27-Jul,13,9:30,26.0,7.4,174.0,5.9,37.5,5.0,20.0,3.0,9.0,45.0,16.0,29.0,19.0,6.0,10.2,0.3,9.9
3,30-Jul,16,9:45,25.0,7.5,77.0,6.6,65.0,0.3,20.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7-Aug,24,9:45,30.0,7.5,96.0,6.3,77.5,0.5,7.0,3.0,3.0,10.0,6.0,4.0,11.0,0.3,6.8,0.1,6.7

In [8]:
data["Date"] = pd.to_datetime(data['date'] + '-2023', format='%d-%b-%Y')